*{

}
table{
  border-collapse: collapse;
  width: 750px;
  height: 850px;
  font-family: 'Lato', sans-serif;
  margin: 10px auto;
}
thead{
  text-align: center;
  letter-spacing: 2px;
  background: #58D68D;
  margin:0 auto;
  padding: 0;
}
table, th, td{
  padding: 8px;
}
.title td{
  font-size:25px;
  text-align: center;
}
.fisrt-row img{
  width: 150px;
  height: 150px;
  margin: 15px 15px 10px;
  border: 1px solid #186A3B;
  border-radius:50% ;
}
.first-column{
  width: 25%;
  margin-top: 0;
  background: #82E0AA;
}
.second-column{
  width: 75%;
  margin-top: 0px;
  background: #ABEBC6;
}
.fisrt-row .fas{
  font-size: 20px;
  margin: 0 0;
}
.first-row .detail{
  margin: 0 0;
  padding: 0;
}
tbody .down {
  height: 120px;
  background: #82E0AA;
}

/* --Second Column Start-- */
.second-column h3{
  border: 1px solid #186A3B;
  background: #28B463;
  color: #333;
  border-radius: 3px;
  padding:0 8px;
}
.second-column .list{
  list-style-type: square;
}

/* --Second Column End-- */
